body{
    background:url(../images/math.jpg) no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background:rosybrown;
    padding:40px;
    text-align: center;
    margin:auto;
    margin-top: 5%;
    color:black;
    font-family: sans-serif;
}